@import 'tailwindcss';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/optional/presets';
@import '@skeletonlabs/skeleton/themes/cerberus';

@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';

html,
body {
	min-height: 100%;
}

body {
	background-color: var(--color-surface-50);
	color: var(--color-surface-950);
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: var(--color-surface-950);
		color: var(--color-surface-50);
	}
}
